html{ 
	height: 100%;

}
body{
	padding: 50px; 
	height: 100%;
	background-repeat: no-repeat;
}

a.letra{
	padding: 10px;
}
div.sombra{
	box-shadow: 10px 10px 10px;
	background: white;
	opacity: 0.75;
}

div.centro{
	background: white;
	opacity: 0.5;
	height: 100%;

}
